#main_header.well.clearfix{style: "background-color: #{current_account.try(:color)}"}
  .pull-left
    - if current_account
      %h1= current_account.name
    - else
      %h1= "RacePoint Group"
  .pull-right
    = image_tag current_account.try(:logo).url, class: "img-rounded logo" if current_account.try(:logo).present?

- if current_account
  %h3= "Users on this account:"

  %ul
    - @users.each do |u|
      %li= u.email