.container
  %nav
    %ul#user_nav.nav.nav-tabs
      %li.pull-left= link_to "Home", "/"
      - if user_signed_in?
        %li
          %span= "Signed in as #{current_user.email}"
        %li
          = link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %li
          = link_to "Sign up", new_user_registration_path
        %li
          = link_to "Sign in", new_user_session_path